:host {
  display: block;
  border: 1px solid steelblue;
  padding: 10px;
  background-color: #fcfcfc;
  color: lightslategray;
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Segoe UI', 'Arial', sans-serif;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
}

.client-error {
  color: rgb(211, 67, 54);
  background-color: rgb(255, 215, 221);
}

.client-submit {
  background: steelblue;
  color: white;
}