:host {
  display: block;
  border: 1px solid steelblue;
  padding: 10px;
  background-color: #fcfcfc;
  color: lightslategray;
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Segoe UI', 'Arial', sans-serif;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
}

h2 {
  color: skyblue;
}

h3 {
  color: steelblue;
}

h4 {
  margin-top: 0px;
  margin-bottom: 5px;
}

div.property-group {
/*
  -webkit-columns: 300px auto;
     -moz-columns: 300px auto;
      -ms-columns: 300px auto;
       -o-columns: 300px auto;
          columns: 300px auto;
  column-fill: auto;
 */
}

div.property {
  width: 280px;
  margin-bottom: 20px;
  margin-right: 20px;

/*
  -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
                 break-inside: avoid;
 */
}

div.property.uri {
  width: 430px;
}

div.property-value {
  background-color: white;
  border: 1px solid steelblue;
  border-radius: 6px;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4) inset;
  padding: 5px 10px;
}

div.property-value.disabled {
  background-color: #F0F0F0;
}

paper-button.submit {
  background: steelblue;
  color: white;
}

paper-checkbox {
  padding: 15px 10px 15px 0;
  border-color: steelblue;
}

paper-checkbox::shadow #ink[checked] {
  color: steelblue;
}

paper-checkbox::shadow #checkbox.checked {
  border-color: steelblue;
}

paper-checkbox::shadow #ink {
  color: steelblue;
}

paper-checkbox::shadow #checkbox {
  border-color: steelblue;
}

paper-dialog {
  border: 1px solid steelblue;
}

paper-dialog iframe {
  border: 0;
  height: 300px;
}

paper-icon-button {
  padding: 0;
  vertical-align: middle;
}

paper-input {
  width: 260px;
}

paper-input.uri {
  width: 410px;
}

paper-radio-button::shadow #onRadio {
  background-color: steelblue;
}

paper-radio-button::shadow #offRadio {
  border-color: steelblue;
}

paper-radio-button::shadow #ink {
  color: steelblue;
}


