:host {
  display: block;
  border: 1px solid steelblue;
  padding: 10px;
  background-color: #fcfcfc;
  color: lightslategray;
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Segoe UI', 'Arial', sans-serif;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
}

.tabs {
  background-color: rgba(50, 50, 50, 0.6);
  color: #fff;
}

.submit {
  background: steelblue;
  color: white;
}
